* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1500px;
    
  }

body>nav {
    background-color: rgb(53, 142, 219);
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
  }

  body nav ul li {
    padding-left: 180px;
    
  }

  body nav ul li a {
    color: rgb(184, 189, 193);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body nav ul li a:hover {
    color: blueviolet;
  }

  body nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5rem;
  }

  body nav div img {
    width: 120px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  body nav ul li {
    margin: 0 1rem;
  }

  body div main div button {
    padding: 1rem 4.5rem;
    font-size: 1.2rem;
    background-color: black;
    color: aliceblue;
    border: none;
    cursor: pointer;

  }

  button:hover {
    background-color: #e0b109;
  }

  .content {
    grid-column: 10 / 13;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }
  
  body div main {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  body div main div {
  width: 240.9px;
  height: 380px;
  border: 2px solid black;
  padding: 20px;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  
  }

  body div main div p {
    width: 14em;
    padding-bottom: 20px;
    font-size: 1.1em;
    
  }

  body div main div img {
    width: 12.5em;
    padding-bottom: 20px;
  }

  body div {
    /*max-width: 1500px;
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1em;*/
    margin: 0 auto;
    justify-content: center;
    
  }

  aside div img {
    width: 400px;
    
  }

  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  aside h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgb(76, 75, 75);
    padding-left: 30px;
    
  }

  aside h4 {
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgb(76, 75, 75);
    padding-top: 10px;
    

  }

  aside div div {
    padding-left: 60px;
    padding-bottom: 40px;
  }

  .cropped {
    width: 400px; /* width of container */
    height: 320px; /* height of container */
    overflow: hidden;
    
}

.cropped img {
    margin: -40px 0px 0px 0px;
}